/*-------------- Text colors ----------------*/
.text-violet {color: #5F296C !important;}
.text-gold {color: #BAA376;}
.text-light-violet {color: #8C7192;}
.text-light-gold {color: #C5BCAB;}
.text-white {color: #fff !important;}
.text-black {color: #000 !important;}

/*------------- Background Colors -----------*/
.bg-violet {background-color: #5F296C !important;}
.bg-gold {background-color: #BAA376 !important;}
.bg-gold2 {background-color: #C5BCAB !important;}
.bg-light-violet {background-color: #8C7192;}
.bg-light-gold {background-color: #C5BCAB;}

.text-center {
	text-align: center;
}
.header .header-inner .navigation > ul > li:last-child {
	margin-left: 15px; 
}
.breaking-news {
    background: #5F296C;
    height: 25px;
    width: 100%;
    z-index: 1;
}
.breaking-news span {
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
}
.breaking-news span:first-child:before,
.breaking-news span:after {
	font-family: "FontAwesome";
    content: "\f005";
    margin: 0 15px;
    color: #BAA376;
    font-size: 15px;
}
.fw500 {
	font-weight: 500;
}
.fw600 {
	font-weight: 600;
}
.fw700 {
	font-weight: 700;
}
.mvbox {
    border-left: 5px solid #BAA376;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
}
.mb-27 {
	margin-bottom: 27px !important;
}
.cover-font {
    background-color: #5f296c;
    color: #fff;
    padding: 0 5px;
    font-weight: 400;
}
.headings {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 50px;
}
.viewmore {
    float: right;
    color: #fff;
    background-color: #5F296C;
    font-size: 16px;
    height: 29px;
    width: 29px;
    text-align: center;
    line-height: 29px;
    cursor: pointer;
}
.viewmore:hover {
    color: #BAA376;
}
.plus {
    padding: 0 40px 0 70px;
}
.bbgold {
    border-bottom: 5px solid #BAA376;
}
.bkg-button {
    background-color: #5F296C;
    color: #fff;
}
.bkg-button:hover {
    background-color: #BAA376;
    color: #5F296C;
}
.color-violet {
    color: #5F296C;
}
.inline {
    margin-bottom: 0;
    font-size: 30px;
}
.plr-0 {
    padding-left: 1px !important;
    padding-right: 1px !important;
}
.fs40 {
    font-size: 40px;
}
.footer-top .fa {
    margin-right: 5px;
    color: #5f296c;
}
.badge {
    background-color: #c5bcab;
    font-size: 8px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0 5px;
    border-radius: 8px;
    float: right;
    margin-top: 5px !important;
    text-transform: capitalize;
    color: #5f296c;
    opacity: .7;
}
.badge:hover {
    opacity: 1;
}
.coCurricular p {
    text-align: center;
    color: #5F296C;
    background-color: #C5BCAB;
    padding: 10px 0;
    font-weight: 500;
}
.linkwhatsapp {
    position: fixed;
    bottom: 27px;
    right: 25px;
    z-index: 9999;
    font-size: 35px;
    color: #25d366;
    width: 60px;
    height: 60px;
    background-color: #fff;
    text-align: center;
    line-height: 60px;
    border-radius: 100px;
    box-shadow: 0px 0px 5px 1px rgba(68, 68, 68, 0.4);
}
.linkwhatsapp:hover {
    color: #fff;
    background-color: #25d366;
}
.title-container-inner h1 {
    font-weight: 700;
}